<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Not Spread It</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <style>
        body {
            margin: 0;
        }

        /* Scale the canvas and pixelate it */
        canvas {
            image-rendering: pixelated;
            image-rendering: crisp-edges;
            width: 768px; /* 256px * 3 = 768px */
        }
    </style>
</head>
<body>
    <script>
        WebFont.load({
            custom: {
                families: ['Pixeled'],
                urls: ['assets/Pixeled.css']
            }
        });
    </script>
</body>
</html>